#homeNav{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 39, 150);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-bottom: 40px; */
}

#homeNav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

#homeNav a:hover{
    color: black;
}